.header{
	width:100%;
	height:110px;
	border-bottom:1px solid #EDECEC;
}
.header .header_middle{
	width:62.5%;
	height:100%;
	margin:0 auto;
}
.header .header_middle img , .header .header_middle a{
	display: inline-block;
}
.header .header_middle img{
	padding: 37px 0 15px 38px;
}
.header .header_middle a{
	font-size: 18px;
	color:#E96328;
	text-decoration: none;
	padding: 54px 23px 0 39px;
}
/*内容*/
.forget_pass{
	width:100%;
	height:auto;
}
.forget_pass .forget_pass_cont{
	width:62.5%;
	height:auto;
	margin: 20px auto 0;
	border:1px solid #EBEBEB;
	/*text-align: center;*/
}
.forget_pass .forget_pass_cont .goback_psd_title{
	width:100%;
	padding:40px 0 50px;
	font-size: 18px;
	text-align: center;
}
.forgetpassword_center{
	width:490px;
	height:auto;
	margin: 0 auto;
}
/*用户名*/
.forget_pass .forget_pass_cont .forgetpassword_center .forgetPsd_username{
	width:auto;
	height:auto;
}
.forget_pass .forget_pass_cont .forgetpassword_center .forgetPsd_username .user_name{
	font-size: 15px;
	width:100px;
	margin-right:5px;
	height:50px;
	line-height: 50px;
	text-align: right;
}
.forget_pass .forget_pass_cont .forgetpassword_center .forgetPsd_username .username_int{
	width:360px;
	background: #FFFFFF;
	border:1px solid #DFDFDF;
	outline: none;
	text-indent:15px;
	padding:14px 0;
}
/*.forget_pass .forget_pass_cont .forgetpassword_center .forgetPsd_username .tel_style{
	margin-left:11px;
	color:#E96328;
	top:12px;
	
}*/
/*验证码*/
.forget_pass .forget_pass_cont .forgetpassword_center .forget_verification{
	width:auto;
	height:auto;
	padding-top:20px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .forget_verification .forgetpsd_code{
	font-size: 15px;
	width:100px;
	height:50px;
	margin-right:5px;
	line-height: 50px;
	text-align: right;
}
.forget_pass .forget_pass_cont .forgetpassword_center .forget_verification .forget_inp{
	width:230px;
	background: #FFFFFF;
	border:1px solid #DFDFDF;
	outline: none;
	text-indent:15px;
	padding:14px 0;
}
.forget_pass .forget_pass_cont .forgetpassword_center .forget_verification .forget_codeimg{
	width:100px;
	height:50px;
	margin-left:25px;
	color: #EA692F;
    font-size: 28px;
    font-weight: bold;
	line-height: 50px;
	text-align: center;
	background: url(../img/register_veritication_bg.png) no-repeat ;
	background-size: 100% 100%;
}
/*短信验证码*/
.forget_pass .forget_pass_cont .forgetpassword_center .message_verification{
	width:100%;
	height:auto;
	padding-top:20px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .message_verification .mess_verification{
	font-size: 15px;
	width:100px;
	height:50px;
	margin-right:5px;
	line-height: 50px;
	text-align: right;
}
.forget_pass .forget_pass_cont .forgetpassword_center .message_verification .message_inp{
	width:259px;
	background: #FFFFFF;
	border:1px solid #DFDFDF;
	outline: none;
	text-indent:15px;
	padding:14px 0;
}
.forget_pass .forget_pass_cont .forgetpassword_center .message_verification .message_click{
	width:101px;
	height:50px;
	background: #EAB631;
	border:none;
	outline: none;
	color:#FFFFFF;
	
}
/*输入新密码*/
.forget_pass .forget_pass_cont .forgetpassword_center .new_password{
	width:100%;
	height:auto;
	padding-top:20px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .new_password .newPsd_in{
	font-size: 15px;
	width:100px;
	height:50px;
	margin-right:5px;
	line-height: 50px;
	text-align: right;
}
.forget_pass .forget_pass_cont .forgetpassword_center .new_password .newPsd_inp{
	width:360px;
	background: #FFFFFF;
	border:1px solid #DFDFDF;
	outline: none;
	text-indent:15px;
	padding:14px 0;
}
.forget_pass .forget_pass_cont .forgetpassword_center .password_rules{
	width:100%;
	height:40px
	font-size:14px;
	color:#999999;
	padding:12px 0 18px;
	padding-left:115px;
}
/*确认密码*/
.forget_pass .forget_pass_cont .forgetpassword_center .sure_psd{
	width:100%;
	height:auto;
}
.forget_pass .forget_pass_cont .forgetpassword_center .sure_psd .psd_again{
	font-size: 15px;
	width:100px;
	height:50px;
	margin-right:5px;
	line-height: 50px;
	text-align: right;
}
.forget_pass .forget_pass_cont .forgetpassword_center .sure_psd .psdagain_inp{
	width:360px;
	background: #FFFFFF;
	border:1px solid #DFDFDF;
	outline: none;
	text-indent:15px;
	padding:14px 0;
}
/*找回密码*/
.forget_pass .forget_pass_cont .forgetpassword_center .goback_passbtn{
	width:100px;
	height:auto;
	text-align: center;
	padding-left:106px;
	padding-top:38px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .goback_passbtn .goback_passbtn_inp{
	width:360px;
	padding:13px 0;
	background: #EAB631;
	color:#FFFFFF;
	border:none;
	outline: none;
	font-size: 17px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .worn_txt{
	width:100%;
	height:auto;
	padding:10px 0 63px 109px;
	color:#999999;
	font-size: 14px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .worn_txt .aleary_user a{
	color:#999999;
	text-decoration: underline;
}
.forget_pass .forget_pass_cont .forgetpassword_center .worn_txt .no_usernum {
	padding-right:30px;
}
.forget_pass .forget_pass_cont .forgetpassword_center .worn_txt .no_usernum a{
	color:#999999;
	text-decoration: underline;
}

/*footer*/
.land_record{
	width:100%;
	height:auto;
	text-align: center;
	font-size: 15px;
	color: #999999;
	padding:30px 0 80px;
}











